html{
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: rgb(32, 43, 54);
}

body{
    margin:0;
    padding:0;
    overflow: hidden;
    /* image-rendering: optimizeSpeed; */
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

#canvas{
    margin:0;
    padding:0;
    overflow: hidden;
    position: absolute;
    width:'900px';
    height:'600px';
    /* background: linear-gradient(-12deg, rgb(26, 46, 100), rgb(0, 93, 121), rgb(103, 172, 179)); */
    font-family: 'Orbitron', sans-serif;
    /* border: 1px solid black; */
    /* background-color: rgb(43, 68, 82); */
}

#pixCanvas{
    margin:0;
    padding:0;
    overflow: hidden;
    position: absolute;
    width:'512px';
    height:'512px';
    pointer-events: none;
    /* background: linear-gradient(-12deg, rgb(26, 46, 100), rgb(0, 93, 121), rgb(103, 172, 179)); */
    font-family: 'Orbitron', sans-serif;
    /* border: 1px solid black; */
    /* background-color: rgb(43, 68, 82); */
}

#gridCanvas{
    margin:0;
    padding:0;
    overflow: hidden;
    position: absolute;
    width:'900px';
    height:'600px';
    pointer-events: none;
    font-family: 'Orbitron', sans-serif;
}

#uiCanvas{
    margin:0;
    padding:0;
    overflow: hidden;
    position: absolute;
    width:'900px';
    height:'600px';
    pointer-events: none;
    /* background: linear-gradient(-12deg, rgb(26, 46, 100), rgb(0, 93, 121), rgb(103, 172, 179)); */
    font-family: 'Orbitron', sans-serif;
    /* border: 1px solid black; */
    /* background-color: rgb(27, 35, 39); */
}

#notifyCanvas{
    margin:0;
    padding:0;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    width:'900px';
    height:'100px';
    /* background: linear-gradient(-12deg, rgb(26, 46, 100), rgb(0, 93, 121), rgb(103, 172, 179)); */
    font-family: 'Orbitron', sans-serif;
    /* border: 1px solid black; */
    /* background-color: rgb(27, 35, 39); */
}

img{
    display: none;
    image-rendering: -webkit-optimize-contrast;
}

.canvas__mirror {
    margin: 0;
    padding:0;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%; 
    position: absolute;
}

#btn-download{
    margin: 0;
    padding:0;
    overflow: hidden;
    padding-top: 0;
    padding-left: 0;
    position: absolute;
    z-index: 2;
    height: 100;
    width: 100; 
}

